.header {
    padding: 20px 0;
    background-color: #FFF;
}

.header .fluid {
    align-items: center;
}

.header .title {
    margin: 0;
    font-size: 1.3em;
    min-width: 286px;
    cursor: pointer;
}

.navigation {
    width: calc(100% - 286px);
    margin: 0 10px;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.navigation::-webkit-scrollbar {
    display: none;
}
